body {
  background: #F4F4F7;
}

.auth-container {
	padding: 50px 0 100px 0;
}

.auth-box {
  background: #fff;
  box-shadow: 2px 2px 12px -6px grey;
  margin: 10px 0;
  padding: 30px 20px 10px 20px;
}

/*.auth-box input {
	border: none;
	border-bottom: 1px solid grey;
	box-shadow: 0 5px 5px -5px grey;
}*/

.auth-box button {
  box-shadow: 2px 2px 10px -3px grey;
  -webkit-transition: .4s ease;
}

.auth-box button:hover {
  box-shadow: 2px 2px 12px -2px grey;
}

.after-box {
  background: #fff;
  box-shadow: 2px 2px 12px -6px grey;
  padding: 15px 20px 15px 20px;
}

.after-box p {
	-webkit-margin-after: 0;
	margin-bottom: 0;
}

.placeholder-right ::-webkit-input-placeholder {
	text-align:right;
}

.placeholder-right input:-moz-placeholder {
	text-align:right;
}

.placeholder-right ::-moz-placeholder {  /* Firefox 19+ */
	text-align:right;
}

.placeholder-right :-ms-input-placeholder {  
	text-align:right;
}
