body {
  background: #F4F4F7;
}

.auth-container {
	padding: 50px 0 100px 0;
}

.split.button {
    padding-right: 1rem;
    padding-left: 4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.split.button.facebook {
  background: #3b5998;
}
.split.button.facebook span {
  background: #2d4373; }
.split.button.facebook span:after {
  border: none;
  font-family: "foundation-icons";
  content: "\f1c4";
  font-size: 2rem;
  line-height: 0.25rem;
  margin-left: -0.7rem; }
.split.button.google {
  background: #d50f25;
}
.split.button.google span {
  background: #a50c1d; }
.split.button.google span:after {
  border: none;
  font-family: "foundation-icons";
  content: "\f1ca";
  font-size: 2rem;
  line-height: 0.25rem;
  margin-left: -0.7rem; }
/*.split.button.left-icon {
  text-align: right; }*/
.split.button.left-icon span {
  left: 0; }

p#or {
    font-variant: small-caps;
}

div#or {
    font-variant: small-caps;
    background-color: #fff;
    position: relative;
    padding: 10px;
    display: inline-block;
}

hr.or-hr {
    position: relative;
    margin-bottom: -20px;
}

.or-container.text-center {
    color: #808080;
    margin-bottom: 20px;
    margin-top: 26px;
}

.auth-box {
  background: #fff;
  box-shadow: 2px 2px 12px -6px grey;
  margin: 10px 0;
  padding: 30px 20px 10px 20px;
}

.auth-box button {
  box-shadow: 2px 2px 10px -3px grey;
  -webkit-transition: .4s ease;
}

.auth-box button:hover {
  box-shadow: 2px 2px 12px -2px grey;
}

.after-box {
  background: #fff;
  box-shadow: 2px 2px 12px -6px grey;
  padding: 15px 20px 15px 20px;
}

.after-box p {
	-webkit-margin-after: 0;
	margin-bottom: 0;
}

.placeholder-right ::-webkit-input-placeholder {
	text-align:right;
}

.placeholder-right input:-moz-placeholder {
	text-align:right;
}

.placeholder-right ::-moz-placeholder {  /* Firefox 19+ */
	text-align:right;
}

.placeholder-right :-ms-input-placeholder {  
	text-align:right;
}
